<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.roonwrapped</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Volumes/SSD RAID/code/roon-wrapped/start-roon-wrapped.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>WorkingDirectory</key>
    <string>/Volumes/SSD RAID/code/roon-wrapped</string>
    <key>StandardOutPath</key>
    <string>/Volumes/SSD RAID/code/roon-wrapped/logs/roonwrapped.log</string>
    <key>StandardErrorPath</key>
    <string>/Volumes/SSD RAID/code/roon-wrapped/logs/roonwrapped.error.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/Users/jeff/.nvm/versions/node/v20.11.1/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>NODE_ENV</key>
        <string>development</string>
    </dict>
</dict>
</plist> 